.heading {
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  h1 {
    font-size: 18px;
    margin-left: 1.5rem;
  }
}

.loadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 0 2.5rem 2.5rem 2.5rem;
  overflow: auto;
  height: 82vh;

  h2 {
    font-size: 18px;
  }
}

.category {
  margin-top: 3rem;
}

.boxes {
  display: flex;
  gap: 4%;
  flex-wrap: wrap;
}
