.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 210px;
  height: 140px;
  padding: 10px;
  border: 1px solid rgba(242, 241, 241, 1);
  border-radius: 2px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all ease-out 0.3s;
  cursor: pointer;
  margin-top: 30px;

  h4 {
    font-size: 18px;
    width: 110px;
  }

  .details {
    display: flex;

    div {
      display: flex;
    }
  }

  .actions {
    display: flex;
    gap: 10px;
  }

  .action,
  .deleteAction {
    color: #fff;
    padding: 5px 0;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    transition: all 0.3s ease-in-out;
  }

  .action {
    background-color: #0e4980;

    &:hover {
      background-color: darken(#0e4980, 3%);
    }
  }

  .deleteAction {
    background-color: #d32f2f;

    &:hover {
      background-color: darken(#d32f2f, 3%);
    }
  }
}
