.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); 
  background-color: #f2f1f1;
}

.whiteBox {
  background-color: white;
  padding: 2rem;
  width: 50%; 
  max-width: 600px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.placeholderImage {
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionText {
  margin-top: 1rem;
  color: #333;
  font-size: 1rem;
}
